@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-color: orange;
    height: 500px;
}

.head {
    text-align: center;
    color: white;
    padding-top: 15px;
}

.paraone {
    color: white;
}

.inputone {
    padding: 30px;
}

.but {
    text-align: center;
}

.butTwo {
    color: white;
    height: 35px;
    border-radius: 6px;
}

.intone {
    height: 35px;
    width: 270px;
    border-radius: 5px;
}